.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
    max-width: 1200px;
    text-align: center;
    flex-grow: 1;
}

.imageWrapper {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.textWrapper {
    max-width: 800px;
}

.textWrapper h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #5D4037; 
}

.textWrapper p {
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: justify;
    color: #68493f; 
}

.about {
    background-color: #FAF9F6; 
    color: #5D4037; 
}

.socialIcons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
    justify-content: center;
}

.iconLink {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    text-decoration: none;
}

.iconLink:hover {
    transform: translateY(-3px);
}

.iconLink img {
    width: 30px;
    height: 30px;
}

.iconText {
    margin-left: 10px;
    color: #5D4037;
    font-size: 1em;
    text-decoration: none;
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
        text-align: left;
    }

    .imageWrapper {
        margin-right: 40px;
        margin-bottom: 0;
    }

    .textWrapper h1 {
        font-size: 2.5em;
    }

    .textWrapper p {
        font-size: 1.2em;
        line-height: 1.4;
    }
    
    .socialIcons {
        justify-content: flex-start;
        flex-direction: row;
        margin-top: 30px;
    }
    
    .iconLink {
        margin-right: 30px;
    }
    
    .iconText {
        font-size: 1.1em;
    }
}